{% set adam_salt_master = salt['grains.filter_by']({
    'Debian': {},
    'RedHat': {'template': 'salt://service_scripts/centos/adam-salt-master'},
}, default='RedHat') %}

{% set adam_salt_minion = salt['grains.filter_by']({
    'Debian': {},
    'RedHat': {'template': 'salt://service_scripts/centos/adam-salt-minion'},
}, default='RedHat') %}

{% set adam_salt_api = salt['grains.filter_by']({
    'Debian': {},
    'RedHat': {'template': 'salt://service_scripts/centos/adam-salt-api'},
}, default='RedHat') %}
